# Pandas Series 
## It's like a python list (1-d datastructure) but more powerful

Import all the necessary libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

### Different types of data in a series 
dtype: object = string  
       int64 = int  
       bool = boolean....  
       
Series() is a constructor method which takes a list as input and returns a series as output

In [5]:
ice = ["hello" , "doc" , "test" ]
pd.Series(ice)

0    hello
1      doc
2     test
dtype: object

In [7]:
lottery  = [4,3,5,2,5]
pd.Series(lottery)

0    4
1    3
2    5
3    2
4    5
dtype: int64

In [8]:
registration  = [True, False, True, False, False]
pd.Series(registration)

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [9]:
webster = {"banana": "fruit", "cyan":"color", "cat":"animal"}
pd.Series(webster)

banana     fruit
cyan       color
cat       animal
dtype: object

In [7]:
me = ["handsome", "charming", "humble", "smart"]
s = pd.Series(me)

RangeIndex(start=0, stop=4, step=1)

# Using attributes for series

In [8]:
s.values #returns an array

array(['handsome', 'charming', 'humble', 'smart'], dtype=object)

In [9]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
s.dtype # 'o' means a string

dtype('O')

# Using methods for series

In [17]:
prices = [33, 32, 67, 23, 52]
s = pd.Series(prices)

In [18]:
s.sum()

207

In [19]:
s.product()

84619392

In [20]:
s.mean()

41.4

# Parameters and Arguments  
Passing parameters to the series function

In [23]:
fruits = ["Apple", "Orange", "Grapes", "Banana", "Mango"]
weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Friday"]
pd.Series(fruits, weekdays) #data = fruits, index = weekdays (implicit declaration)
pd.Series(data = fruits, index = weekdays) #explicit declaration

Sunday        Apple
Monday       Orange
Tuesday      Grapes
Wednesday    Banana
Friday        Mango
dtype: object

#### Index names can be non-unique but both the lists should have same number of elements

In [24]:
fruits = ["Apple", "Orange", "Grapes", "Banana", "Mango", "plum"]
weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Friday","Monday"] #monday is repeated
pd.Series(fruits, weekdays)

Sunday        Apple
Monday       Orange
Tuesday      Grapes
Wednesday    Banana
Friday        Mango
Monday         plum
dtype: object

# Import series with read_csv function

In [30]:
pokemon  = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)   #usecols : To use only specific columns , 
                                                                    #squeeze : To see the data as a series and not a dataframe
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object